
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
:root{
    --main-color: #222374;
    --red-color: #F03C42;
    --white-color:#fff;
    --gray-color:#CCC;
    --black-color: #000;

}
*{
    font-family: 'Open Sans', sans-serif;

  
   box-sizing: border-box;
    
}
/* nav */
nav{
    max-width: 960px;
    margin: 0 auto;
    
    width: 100%;
    background:  var(--red-color);
    padding: 8px;
    
}

nav .title-top{
    color: var(--white-color);
    margin-left: 100px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 24,51px;    
    font-weight: 700;
font-style: normal;
    display: inline-block;

}

span {
    font-size: 14px;
    line-height: 19,07px;
    font-style: normal;
    font-weight: 400;
   
}
nav .bi-instagram{
    font-size: 30px;
     margin-right: 10px;
    color: var(--white-color);
    margin-left:383px;
}

 
/* espaco */
section .container-banner{
    background:var(--main-color);
width: 100%;
height: 418px;
max-width: 960px;
margin: 0 auto; 
padding-bottom: 10px;

}

.text-article{
    border-radius: 10px;
    background: var(--gray-color);
    margin-left: 100px; 
    margin-right: 100px;
    
}
.container-banner h1{
    color: var(--white-color);
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
   padding-left: 100px;
   
}
.text-article h2{
    color: var(--black-color);
    text-align: left;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
    font-style: normal;
    line-height: 27,24px;

}
.text-article p{
    color: var(--black-color);
    text-align: justify;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    padding-right: 30px;
    padding-bottom: 10px;
    font-style: normal;
list-style: 19,07px;   
}
/* modalidades */
#modalidades{
    background: var(--white-color);
    padding-bottom: 20px;
}
h2{
  color: var(--red-color);
  font-weight: 700;
  font-style: normal;  
  font-size: 32px;
  line-height: 43,58px;
  margin-left: 100px;
  padding: 20px;
  padding-bottom: 40px;
}
#modalidades .text-article{
    background:var(--main-color);
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
    margin-bottom: 10px;
}
 h3{
  font-size: 20px;
  font-weight: 700;
  line-height: 27,24px;  
  color: var(--white-color);
  padding-left: 30px;
  padding-top: 30px;
}
#modalidades p{
    color: var(--gray-color);
    font-size: 14px;
    padding-left: 30px;
}
.container-modalidades{
    max-width: 960px;
    margin: 0 auto;
}
/* footer */
.container-footer{
    background: var(--black-color);
     max-width: 960px;
     margin: 0 auto;    
     text-align: center;
     padding: 40px;
     padding-bottom:40px;
     color: var(--white-color);
     font-size: 14px;
     line-height: 19px;
     font-style: normal;
 }
 .container-footer .row{
     text-align: center;
     
 }
 .container-footer .bi-instagram{
     font-size: 30px;
     margin-right: 8px;
     margin-left: 100px;
    
 }
 .container-footer .bi-twitter{
font-size: 30px;
margin-right: 8px;
margin-left: 100px;
padding-bottom: 20px;
 }
.col-direitos{

   padding-top: 40px;
   
 }